main {
    margin-left: 20px;
}

.protudos li {
    border: none;

}

main li {
    display: inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin: 0 1.5%;
    background-color: rgb(201, 201, 201);
    padding: 30px 15px;
    box-sizing: border-box;
    border-color: rgb(1, 1, 1);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}
h2 {
    font-size: 30px;
}
.form {
    margin: 0 auto;

}
form {
    margin: auto 0;
    
}
form label, form p {
    display: block;
    margin: 0 0 10px;
    font-size: 20px;
    font-variant: initial;
    text-decoration-color: blueviolet;

}
.ip, form textarea {
   /* display: block; */
    margin: 10px;
    padding: 5px 10px;
    width: 85%;
}
.checkbox {
	margin: 20px 0;

}
.enviar {
    margin: auto;
    text-align: center;
    width:40%;
    padding: 15px 0;
    background: #333;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}
.enviar:hover {
    background: #fff;
    color: #333;
    transform: rotate(360deg) scale(1.2);
}