body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    width: 100%;
    height: 100px;
    background-color: #ad2020;
    padding: 10px;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
    padding-left: 50px;
  }

  footer {
    padding: 20px;
    padding-left: 50px;
    position: absolute;
    top: 95%;
    width: 100%;
    height: 100%;
    background-color: #ccc;
  }