body {
  white: 100%;
  background-color: #010c34;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color:aliceblue;
  }
  
  header {
    white: 100%;
    height: 100px;
    background-color: #202020;
    padding: 10px;
    color:aliceblue;

  }
  header, p{
    font-size: 30px;
    text-align: center;
  }
  
  main {
    white: 100%;
    background-color: 	#ccc;
    flex-grow: 1;
    padding: 20px;
    padding-left: 50px;
    color: rgba(0, 34, 56, 0.815);
  }
  main, h2 {
    font-size: 30px;
    text-align: center;
  }
  main, p{
    font-size: 20px;
    text-align: center;
  }

  footer {
    padding: auto;
    text-align: center;
    padding-left: 50px;
    padding-top: 15px;
    margin: auto;
    white: 100%;
    height: 50px;
    background-color: #010c34;
    color:aliceblue;
  }